   
 .content{background-color: lemonchiffon;color:blue ;font-family: "微軟正黑體";margin:auto;border:auto

    }
    h1 {font-size: 32px;color:black;font-family: "標楷體";text-align:center}
  .movie-img{border: thick 5pt silver;padding:10pt; margin:auto; float:left}
  
 